<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding">
    <ion-item lines="none">Name: Ali</ion-item>
    <ion-item lines="none">Age: 26</ion-item>
    <ion-item lines="none">Gender: male</ion-item>
    <ion-item lines="none">Phone Number: 0189555386</ion-item>
  </ion-card>
  <ion-button color="danger"class="round" routerLink="">Logout</ion-button>
</ion-content>