<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Patient
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Patient</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding">
    <ion-item routerLink="/psychiatrist/result" lines="none">
      <ion-label>Ali</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item routerLink="/psychiatrist/result"lines="none">
      <ion-label>Abu</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item routerLink="/psychiatrist/result" lines="none">
      <ion-label>Ubi</ion-label>
    </ion-item>
  </ion-card>






</ion-content>