<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="round" routerLink="/patient/mind-test">Back</ion-button>
    </ion-buttons>
    <ion-title>question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      1. I found it hard to wind down
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q1">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      2. I was aware of dryness of my mouth
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q2">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      3. I couldn’t seem to experience any positive feeling at all
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q3">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      4. I experienced breathing difficulty (e.g. excessively rapid breathing, breathlessness in the absence of physical
      exertion)
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q4">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      5. I found it difficult to work up the initiative to do things
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q5">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      6. I tended to over-react to situationst
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q6">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      7. I experienced trembling (e.g. in the hands)
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q7">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      8. I felt that I was using a lot of nervous energy
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q8">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      9. I was worried about situations in which I might panic and make a fool of myself
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q9">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      10. I felt that I had nothing to look forward to
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q10">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      11. I found myself getting agitated
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q11">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      12. I found it difficult to relax
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q12">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      13. I felt down-hearted and blue
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q13">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      14. I was intolerant of anything that kept me from getting on with what I
      was doing
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q14">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      15. I felt I was close to panic
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q15">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      16. I was unable to become enthusiastic about anything
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q16">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      17. I felt I wasn’t worth much as a person
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q17">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      18. I felt that I was rather touchy
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q18">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      19. I was aware of the action of my heart in the absence of physical
      exertion (e.g. sense of heart rate increase, heart missing a beat)
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q19">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      20. I felt scared without any good reason
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q20">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">
      21. I felt that life was meaningless
      <ion-note slot="end">
        <ion-item lines="none">
          <ion-select [value]="['0']"[(ngModel)]="form.q21">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-note>
    </ion-item>
  </ion-card>
  <ion-button class="round" (click)="save(form)" style="float:right">Save</ion-button>

</ion-content>